/*Animações */
@keyframes up {
    from {   /*Onde começa*/
        opacity: 0;
        transform: translateY(16px); /*Partindo do ponto vertical vai transformar o item subindo (negativo transforma descendo)*/
    }
    to{    /*Onde termina*/
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }

}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards; /*faz com que o ponto de término da animação permaneça no elemento*/
}

.animate-right {
    animation-name: right;
    animation-duration: 200ms;

}

.animate-appear {
    animation-name: appear;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}