#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    
    text-align: center;
    min-height:100vh;

    display:flex;

}

#container {
    margin: auto;
    width: 90%; /*neste caso foi usado para limitar o tamanho do container e aumentar o espaçamento lateral */
}

.location, h1, .visit, p { /*Nesta conf dentro de .location irá buscar somente h1 e dentro do .visit somente p */
    height: 16vh;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;

    border: none;
    border-radius: 3rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: auto;

    transition: background 200ms;
}

.visit a:hover {
    background: #96feff;
}

#logo {
    animation-delay: 50ms;
}
.location {
    animation-delay: 100ms;
}
main h1 {
    animation-delay: 150ms;
}
.visit p {
    animation-delay: 200ms;
}
.visit a {
    animation-delay: 250ms;
}